# --- UNIFICADO PARA CENTINELA ---

# Dependencias (Cualquier node_modules en cualquier subcarpeta)
**/node_modules/
/.pnp
.pnp.js

# Archivos de Entorno y Configuración Sensible
**/.env
**/.env.local
**/.env.*.local

# Producción y Generados
**/dist/
**/build/
/coverage
/tmp

# Logs y Cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db